@-webkit-keyframes growWidth {
  from { width: 0%;}
  to { width: 100%;}
}

@-webkit-keyframes growHeight {
  from { height: 2px;}
  to { height: 60px;}
}

* {
  font-family: Impact;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#stickyheader {
  position: relative;
  top: 0%;
  text-align: left;
  text-indent: 10px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  -webkit-animation: growWidth .5s, growHeight .5s .5s forwards;
}

.content {
  margin-top: 60px;
}

